/* Fonts */

@font-face {
    font-display: swap;
    font-family: "Aclonica";
    src: url('../fonts/Aclonica-Regular.ttf') format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Cantarell";
    src: url('../fonts/Cantarell-Regular.ttf') format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Cantarell Bold";
    src: url('../fonts/Cantarell-Bold.ttf') format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Courgette";
    src: url('../fonts/Courgette-Regular.ttf') format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Learning Curve";
    src: url('../fonts/Learning_Curve_Regular.ttf') format("truetype");
}

html, body {
  font-size: 1rem;
}

/* Backgrounds */

.bg-bars {
  background-color: #b4307b;
  color: #ffddcc;
}

body {
  position: relative;
  background: #fabec4 url('../img/bg.jpg') no-repeat fixed top center;
  background-size: cover;
}

/* Header */

header {
  font-family: 'Aclonica', sans-serif;
}

#main-nav, #main-nav .navbar-brand {
  color: #ffddcc;
  padding-bottom: 0;
  padding-top: 0;
}

#main-nav .navbar-brand img {
  max-width: 100%;
  height: 96px;
}

#main-nav .lang-icon {
  height: 2.5rem;
}

/* Main */

main {
  font-family: 'Cantarell', sans-serif;
  /*font-family: 'Learning Curve', cursive;*/
  font-size: 1.2rem;
  /*font-weight: 900;*/
}

main a, main .table {
  color: #ffddcc;
}

main a:hover {
  color: rgba(255, 221, 204, 0.5);
}

.testimony {
  font-size: 1rem;
}

.rounded-m {
  border-radius: .5rem !important;
}

.rounded-xl {
  border-radius: 1rem !important;
}

.shadow-m {
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .3) !important
}

.shadow-custom {
  box-shadow: -.5rem -.5rem .5rem rgba(0, 0, 0, .7) !important
}

/*  Footer */

footer {
  font-family: 'Courgette', cursive;
  font-size: 1.2rem;
}

footer a, footer a:hover {
  color: #ffddcc;
  text-decoration: none;
}

.footer-stuff {
  font-size: 1rem;
}

/* Hyperlinks */

a:hover {
  text-decoration: none;
}

/* Classes */

.btn-main {
  background-color: #49cbcd;
  border-color: #000000;
  border-radius: .5rem;
  color: #000;
  font-family: 'Cantarell', sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: .5rem 1rem;
}

.btn-main:hover {
  background-color: #000;
  border-color: #000000;
  color: #49cbcd;
}

.img-testimony {
  border-color: rgba(0, 0, 0, 0.5);
  border-style: outset;
  border-width: .35rem;
}

/* IDs */
